<div class="app-wrapper">
  <app-navbar-show></app-navbar-show>
  <main>
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  </main>
  <app-footer></app-footer>
  @if (systemMessageService.messageArray().length > 0) {
    <ul class="notification-list">
      @for (item of systemMessageService.messageArray(); track item.id) {
        <li>
          <app-notification-toast
            [isError]="item.isError"
            [message]="item.text"
            (onClose)="systemMessageService.removeMessage(item.id)"
          ></app-notification-toast>
        </li>
      }
    </ul>
  }
</div>
