<div class="home-container">
  <div class="search-container">
    <!-- <app-custom-searcher></app-custom-searcher> -->
  </div>

  <div id="home-content">
    <div id="folders-sidebar">
      <!-- componente de carpetas -->
      CARPETAS
    </div>

    <div id="content-area">
      <!-- componente de contenido -->
      CONTENIDO
    </div>

    <div id="date-selector">
      <form class="date-form-container" (submit)="$event.preventDefault(); onDateSubmit()">
        <div class="date-input-wrapper">
          <label for="date">Ir a BOE de fecha:</label>
          <input type="date" id="date" placeholder="fecha" [formField]="dateSelectForm.date" />
        </div>

        <button type="submit" class="btn btn-primary btn-primary-hover">Buscar</button>
      </form>
      @if (dateSelectForm.date().invalid() && dateSelectForm.date().touched()) {
        <ul class="validation-error-list">
          @for (error of dateSelectForm.date().errors(); track error.kind) {
            <li class="validation-error">{{ error.message }}</li>
          }
        </ul>
      }
    </div>
  </div>

  <div id="pagination-controls">
    <!-- componente de paginación -->
    PAGINACIÓN
  </div>
</div>
