.breadcrumb-nav {
  padding: 20px 20px;
}

.breadcrumb-list {
  display: flex;
  list-style: none;
  padding: 10px;
  font-family: sans-serif;
}

.breadcrumb-list a {
  color: #0066cc;
  text-decoration: underline;
}

.breadcrumb-list a:hover {
  color: #d87170;
}

.separator {
  margin: 0 8px;
  color: var(--primary);
}

.active {
  color: var(--primary);
  font-weight: bold;
}
